<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic My Second App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <h1 class="text-color">Welcome 2 Da App</h1>
  <p class="ion-padding">Tis a text</p>
	<ion-button (click)="helloWorld()">Alert!!</ion-button>
</ion-content>
